.container {
  background-color: var(--extra-color);
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
}

@media (min-width: 481px) {
  .container {
    padding: 2rem;
  }
}
