.portfolio_title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--title-color);
}

.project {
  width: 20rem;
  min-height: 380px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.project:hover {
  transform: scale(1.05);
}

.project h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-size: 1.5rem;
  color: var(--title-color);
}
.project h3 + span {
  min-height: 1rem;
}
.project p {
  color: var(--text-color);
  margin: 0.9rem 0;
  font-size: 0.85rem;
  gap: 0.3rem;
}

.project_img_container {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.project_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.project_links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.project_links a {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: transform 0.2s ease-in-out;
}

.project_links a:hover {
  transform: scale(1.2);
}

.project_technologies {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin-top: auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.project_technologies span {
  background-color: var(--extra-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease-in-out;
}

.project_technologies span:hover {
  transform: scale(1.05);
}

@media (min-width: 481px) {
  .project {
    min-height: 430px;
  }
  .portfolio_title {
    font-size: 1.5rem;
  }
  .project p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .portfolio_title {
    font-size: 2rem;
  }
  .project p {
    font-size: 1rem;
  }
}
