.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  background-color: var(--card-color);
  padding: 1rem;
  padding-top: 2.5rem;
  border-radius: 2%;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  cursor: default;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body {
  max-width: 100%;
  max-height: calc(90vh - 3rem - 2rem);

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.modal-body img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  line-height: 1;
  padding: 0;
  z-index: 10;
}

.modal-close-button:hover {
  color: var(--cta-color);
}
