section {
  padding: 0.4rem;
  background-color: var(--background-color);
}

@media (min-width: 481px) {
  section {
    padding: 1rem 1rem;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 1rem 3rem;
  }
}
