@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  padding: 0.4rem;
  background-color: var(--background-color);
  animation: fadeInUp 1s ease-in-out;
}

@media (min-width: 481px) {
  section {
    padding: 1rem 1rem;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 1rem 3rem;
  }
}
